.header {
  display: flex;
  align-items: center;
  height: $header-height;
  padding: 12px;
  border-bottom: 1px solid var(--border-2);
}

.logo {
  height: 24px;
  margin-bottom: 1px;
}

.menuButton {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-bottom: -1px;
}

.menuIcon {
  width: 100%;
  fill: var(--gray-3);
}

.menuWrapper {
  position: absolute;
  top: $header-height;
  width: 100%;
  background-color: var(--background-1);
  z-index: 100;
}

.menu {
  min-height: calc(100vh - #{$header-height});
  padding: 12px 12px 86px;
}