@import './fonts.scss';

html,
body,
.root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  @include respond-down(min) {
    zoom: 88%;

    @-moz-document url-prefix() {
      transform: scale(0.88);
      transform-origin: left top;
      height: calc(100% / 0.88);
      width: calc(100% / 0.88);
    }
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin-bottom: 16px;
}

h1 {
  padding: 0 16px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

#root, #__next {
  isolation: isolate;
}

button:not([disabled]) {
  cursor: pointer;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color .2s;
}

button {
  background: none;
  border: none;
  padding: 0;
  transition: background-color .2s;
}

body {
  --brand-1: #724CBF;
  --brand-2: #7A51CC;
  --brand-3: #8256D9;
  --brand-4: rgba(130, 86, 217, 0.15);

  --gray-1: #18181B;
  --gray-2: #676775;
  --gray-3: #9494A8;
  --gray-4: #9D9DB2;
  --gray-5: rgba(24, 24, 27, 0.08);

  --background-1: #F9FAFB;
  --background-2: #FFFFFF;
  --background-3: #F5F6F7;

  --accent-red-1: #FF3B30;
  --accent-red-2: rgba(255, 59, 48, 0.15);

  --accent-green-1: #32BF56;
  --accent-green-2: rgba(50, 191, 86, 0.15);

  --white: #FFFFFF;
  --black: #000000;
  --yellow: #FFCC00;
  --orange: #F28E00;
  --pink: #FD2BA5;
  --blue: #77B6E5;

  --gradient-v: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
  --gradient-h: linear-gradient(270deg, #F5F6F7 0%, rgba(245, 246, 247, 0) 100%);

  --text: var(--gray-1);

  --border-1: #0000000D;
  --border-2: #0000001a;
}
